<mat-list class="mat-elevation-z5">

    <mat-list-item>
        <span matListItemTitle class="amount-label">Amount</span>
        <span matListItemLine class="client-details-value">{{ transaction.amount }}</span>
    </mat-list-item>

    <mat-list-item>
        <span matListItemTitle class="client-details-label">Creation date</span>
        <span matListItemLine class="client-details-value">{{ transaction.creationDate }}</span>
    </mat-list-item>

    <mat-list-item>
        <span matListItemTitle class="client-details-label">State</span>
        <span matListItemLine class="client-details-value">{{ transaction.state }}</span>
    </mat-list-item>

</mat-list>