@import '@angular/material/prebuilt-themes/deeppurple-amber';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-row:hover {
    background-color: #edebeb;
}
